<!doctype html>
<html>
<head>
  <title>Let's Play!</title>
</head>
<body>
    <form action="/madlib">
        <label>Type a name:</label>
        <input type="text" name="person"></br></br>
        Choose a color:
        <select name="color">
            <option value="red">red</option>
            <option value="orange">orange</option>
            <option value="yellow">yellow</option>
            <option value="green">green</option>
            <option value="blue">blue</option>
            <option value="indigo">indigo</option>
            <option value="purple">purple</option>
        </select></br></br>
        <label>Choose a noun:</label>
        <input type="text" name="noun"></br></br>
        <label>Choose an adjective:</label>
        <input type="text" name="adjective"></br></br>
        <input type="submit" Submit>
    </form>
</body>
</html>